# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
eggs/
dist/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# Other
.DS_Store

# Virtual environments
venv/
main.py
.python-version
